[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==3.3.2"
geoip2 = "==4.0.2"
numpy = "==1.18.5"
matplotlib = "==3.2.2"
scapy = {version = "==2.4.5", extras = ["complete"]}
aiohttp = ">=3.7.4"
PyX = "==0.15"

[dev-packages]

[requires]
python_version = "3.10"
