-i https://pypi.org/simple
aiohttp>=3.10.11
cryptography>=42.0.4
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
geoip2>=4.7.0
libpcap>=1.11.0b7
matplotlib>=3.8.2
numpy>=1.26.1
pillow>=10.3.0
pyopenssl==24.2.1
pyshark==0.6
pyx>=0.16
scapy[complete]==2.6.1
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
