-i https://pypi.org/simple
aiohttp>=3.9.3
cryptography>=42.0.4
geoip2>=4.7.0
libpcap>=1.11.0b7
matplotlib>=3.8.2
numpy>=1.26.1
pillow>=10.3.0
pyx>=0.16
scapy[complete]==2.5.0
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
